<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.972511622379-mak8qoj1corsaria7f2k8ainq715al7u</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>recipeapp</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>972511622379-mak8qoj1corsaria7f2k8ainq715al7u.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>972511622379-s2ivecpg4492gg7dbq21c3ev3slqeukp.apps.googleusercontent.com</string>
</dict>
</plist>
